*{
    text-align: center;
    margin:  0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    color: rgb(226, 19, 19);
}
html, body, .fullheight {
    min-height: 100% !important;
    height: 100%;
}
body{
    width: 100%;
    min-width: 360px;
}
#app{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: rgb(230, 236, 243);
}
#top{    
    width: 100%;    
}
#logo{
    width: 55%;
    margin: 5px;
    max-width: 350px;
}
#main{    
    flex-grow: 1;
    justify-content: center;
    display: flex;		
    flex-direction: column;	
}
.container_item{
    flex: 1;
}   
#bottom{    
    
}
#result{
    font-size: 38pt;    
    margin-top: 20px;
}
#btn_install{
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
    border-radius: 5px;
    padding: 10px;
}
#btn_install:hover{
    background-color: rgba(0, 0, 0, 0.041);
}
#btn_install:active{
    background-color: rgba(0, 0, 0, 0.144);
}
.title{    
    font-size: 16pt;
    margin: 5px;
}
.sub-title{

}
.label{

}
.panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.123);
}
.field{
    flex: 1;
    display: flex;
    flex-direction: row;    
    margin: 10px;
    max-width: 400px;
}
.field img{
    width: 70px;
    height: 70px;
    background-color: rgb(253, 46, 46);
    border-radius: 50%;
    padding: 10px;    
}
.field div{
    display: block;
    text-align: left;
}
.field p{
    color: rgb(226, 19, 19);
    font-size: 14pt;
    text-align: left;
    margin-bottom: 5px;
    white-space: nowrap;
}
.field input{
    color: rgb(26, 26, 94);
    font-size: 28pt;
    max-width: 200px;
}
.field .error{
    text-align: center;
    font-size: 12pt;
    color: #FFF;
    background-color: #F00;
    padding-left: 10px;
    padding-right: 10px;
}
.selector{
    padding: 15px;    
}
.selector_item{
    margin: 5px;
    display: inline-block;
}
.selector_item input{
    margin: 20px;
}



input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(3); /* IE */
  -moz-transform: scale(3); /* FF */
  -webkit-transform: scale(3); /* Safari and Chrome */
  -o-transform: scale(3); /* Opera */
  transform: scale(3);
  padding: 10px;
}